@use 'utils' as *;

.gallery {
	@include size(100%, auto);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
	.container {
		@include size;
		aspect-ratio: 1;
		background-color: gray(0, 0.05);
		@include flex-center;
		overflow: hidden;
		img {
			@include size;
			display: block;
			object-fit: cover;
			opacity: 0;
		}
		&.loaded img {
			@include set-transition(0.25s, ease-in, opacity);
			opacity: 1;
		}
		&.error {
			background-image: url('/assets/grumpy-404.jpeg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}
