@use 'utils' as *;

$max-content-width: 1024px;
$outer-padding: 1rem;

* {
	@include reset;
}

body {
	@include size(100%, fit-content);
	background: white;
	color: black;
	min-height: fit-content;
	padding: $outer-padding;
	font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 160%;
}

header,
main,
nav {
	max-width: $max-content-width;
	margin: 0 auto;
}

header {
	margin-bottom: 2rem;
}

main {
	@include size;
	@include flex-center;
}

button {
	border: none;
	border-radius: 3px;
	padding: 0.5em 1em;
	cursor: pointer;
	@include set-transition(0.2s, ease, background-color, color);
	background: gray(50);
	color: white;
	&:disabled {
		cursor: default;
		background: gray(125, 0.5);
		color: gray(200);
	}
}

@media (hover: hover) {
	button:not(:disabled):hover {
		background: gray(75);
		color: gray(230);
	}
}

nav {
	@include size(100%, auto);
	@include flex-container(space-between, center, row, 1rem);
	text-align: center;
	position: relative;
	z-index: 5;
	margin: 1.5rem auto;
	padding: $outer-padding 0;
	button {
		@include min-size(10ch, 2.5em);
	}
}

@media only screen and (min-width: 450px) {
	nav button {
		@include min-size(15ch, 2.5em);
	}
}
