.error-output {
	position: fixed;
	inset: auto 0 0 0;
	z-index: -1;
	display: none;
	justify-content: flex-start;
	align-items: center;
	padding: var(--outer-padding);
	opacity: 0;
	transform: translateY(100%);
	transform-origin: bottom;
	transition-property: opacity, transform;
	transition-duration: 0.05s;
	transition-timing-function: linear;
}

.error-output.show {
	display: flex;
	transition-duration: 0.1s;
	z-index: 20;
	transform: translateY(0);
	opacity: 1;
}
