@use './style/config' as *;
@use './style/utils' as *;
@use 'sass:map';

* {
	@include reset;
}

html,
body {
	@include size(100%, fit-content);
}

body {
	min-height: 100vh;
	@include bg-color(white);
	font-family: map.get($fonts, 'main', 'family');
	font-size: map.get($fonts, 'main', 'size');
	line-height: map.get($fonts, 'main', 'line-height');
	padding: 1rem;
}

input,
textarea,
select,
button {
	@include ui-component;
}

button {
	@include min-size(5ch, 2rem);
	@include bg-color(gray-rgb(50));
	@include set-transition(0.1s, ease, background-color, color, transform);
	&:hover {
		@include bg-color(gray-rgb(75));
		transform: scale(1.05);
	}
	&:disabled {
		@include bg-color(gray-rgb(125));
	}
	&:not(:disabled) {
		cursor: pointer;
	}
}

nav,
main {
	@include size;
	max-width: $max-content-width;
	margin: 1rem auto;
}

nav {
	@include flex-container(space-between, center, row, 1rem);
}

main {
	@include flex-center;
}

.cat-grid {
	@include size(100%, auto);
	@include grid-container(repeat(auto-fill, 1fr), 1fr, center, center, 1rem);
	position: relative;
	.loading-overlay {
		@include flex-center;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include bg-color(rgba(0, 0, 0, 0.5));
		z-index: 10;
	}
	.cat-container {
		@include size;
		background-color: rgb(0, 0, 0, 0.2);
		img {
			@include size;
			aspect-ratio: 1;
			object-fit: cover;
			opacity: 0;
			@include set-transition(0.5s, ease, opacity);
		}
		&.loaded img {
			opacity: 1;
		}
	}
}

@media (min-width: 500px) {
	.cat-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 640px) {
	.cat-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 1024px) {
	.cat-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}
