@use './style/config' as *;
@use './style/utils' as *;
@use 'sass:map';
@use 'sass:math';

* {
	@include reset;
}

body {
	@include size(100%, fit-content);
	min-height: fit-content;
	@include bg-color(white);
	font-family: map.get($fonts, 'main', 'family');
	font-size: map.get($fonts, 'main', 'size');
	line-height: map.get($fonts, 'main', 'line-height');
	padding: $outer-padding;
	position: relative;
}

input,
textarea,
select,
button {
	@include ui-component;
}

button {
	@include bg-color(gray-rgb(50));
	&:not(:disabled) {
		cursor: pointer;
	}
	&:hover {
		@include bg-color(gray-rgb(75));
	}
	&:disabled {
		@include bg-color(gray-rgb(125));
	}
}

header,
main,
nav {
	max-width: $max-content-width;
	margin: 0 auto;
}

header {
	margin-bottom: 2rem;
}

main {
	@include size;
	@include flex-center;
}

nav {
	@include size(100%, auto);
	@include flex-container(space-between, center, row, 1rem);
	text-align: center;
	position: relative;
	z-index: 5;
	margin: 2rem auto 1rem auto;
	padding: $outer-padding 0;
	button {
		@include min-size(12ch, 2.5em);
		display: block;
		position: relative;
		@include set-transition(0.25s, ease-out, transform);
		transition-delay: 0.1s;
	}
}
.gallery {
	@include size(100%, 100%);
	@include grid-container(repeat(auto-fill, 1fr), 1fr, center, center, 1rem);
	.container {
		@include flex-center;
		width: 100%;
		aspect-ratio: 1;
		background-color: rgb(0, 0, 0, 0.05);
		img {
			@include size;
			object-fit: cover;
			opacity: 0;
		}
		&.loaded img {
			@include set-transition(0.25s, ease-in, opacity);
			opacity: 1;
		}
		&.error {
			background-image: url('/assets/grumpy-404.jpeg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

.loading-overlay {
	display: none;
	position: fixed;
	inset: 0 0 0 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.loading .loading-overlay {
	@include flex-center;
	z-index: 10;
	@keyframes spinner-animation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	.spinner {
		$spinner-duration: 1s;
		@include size(64px, 64px);
		@include grid-container(1fr, 1fr);
		div {
			grid-column: 1;
			grid-row: 1;
			@include size;
			border: 6px solid transparent;
			border-top-color: white;
			border-radius: 50%;
			animation: spinner-animation $spinner-duration
				cubic-bezier(0.5, 1, 0.5, 1) infinite;
		}
		@for $i from 1 through 3 {
			div:nth-child(#{$i}) {
				animation-delay: math.div($spinner-duration, -8) * $i;
			}
		}
	}
}

.error-output {
	position: fixed;
	inset: auto 0 0 0;
	@include bg-color(rgb(163, 0, 0));
	@include flex-container(flex-start);
	z-index: -1;
	padding: 1rem;
	opacity: 0;
	transform: translateY(100%);
	transform-origin: bottom;
}

.error-output.show {
	@include set-transition(0.1s, linear, transform);
	z-index: 20;
	opacity: 1;
	transform: translateY(0);
}

@media (min-width: 500px) {
	nav button {
		@include min-size(15ch, 2.5em);
	}
	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 640px) {
	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 1024px) {
	.gallery {
		grid-template-columns: repeat(4, 1fr);
	}
}
